<h1>Services</h1>
  <h3>Front-end Development</h3>
  <ul id="frontend">
    <li>HTML - HTML5, XHTML</li>
    <li>CSS - CSS3, SCSS, SASS</li>
    <li>JavaScript - jQuery, CoffeeScript</li>
  </ul>
  <h3>Back-end development</h3>
  <ul id="backend">
    <li>Ruby - Ruby on Rails, Sinatra, Goliath</li>
    <li>Python - Django</li>
    <li>SQL - Sqlite3, Postgresql, MySql</li>
  </ul>
  <h3>Miscellaneous</h3>
  <ul>
    <li>Adobe Photoshop, Illustrator</li>
    <li>PSD2HTML</li>
    <li>Git Distributed Version Control</li>
  </ul>
  See below for some examples of my previous work utilizing these technologies, frameworks, and services to create dynamic web applications: