<h1>Work</h1>
<div id="experience">

  <div class="item">
    <h3>Amanda-Adam.com</h3><img src="./assets/images/wedding.png">

    <div class="link">
      Link: <a href="https://wedding.terrencemorrow.com/" target=
      "_blank">https://wedding.terrencemorrow.com/</a>
    </div>

    <div class="github">
      Github: <a href="https://github.com/morrow/wedding-app">wedding app</a>
    </div>

    <div class="languages">
      Languages: Ruby, CoffeeScript, JavaScript, HTML, CSS
    </div>

    <div class="role">
      Role: Developer / Designer
    </div>

    <div class="description">
      Description: Sole developer/designer on this rails-based web application
      user to provide wedding information and RSVP management for a wedding.
      Designed using client input to achieve client’s UX / design goals.
    </div>
  </div>

  <div class="item">
    <h3>CSS Reference AJAX Interface</h3><img src="./assets/images/css.png">

    <div class="link">
      Link: <a href="http://morrow.github.io/css-reference" target=
      "_blank">http://morrow.github.io/css-reference</a>
    </div>

    <div class="languages">
      Languages: HTML, CSS, JavaScript
    </div>

    <div class="role">
      Role: Creator / Developer / Designer
    </div>

    <div class="description">
      Description: I created this single page application to function as a
      quick-access AJAX version of the Mozilla Developer Network CSS Reference
      website.
    </div>
  </div>

  <div class="item">
    <h3>Stylist CSS Authoring Tool</h3><img src="./assets/images/stylist.png">

    <div class="link">
      Link: <a href="https://github.com/morrow/stylist" target=
      "_blank">https://github.com/morrow/stylist</a>
    </div>

    <div class="github">
      Github:<a href="https://github.com/morrow/css-reference">css
      reference</a>
    </div>

    <div class="languages">
      Languages: Ruby, CoffeeScript, JavaScript, CSS
    </div>

    <div class="role">
      Role: Creator / Developer
    </div>

    <div class="description">
      Description: I created this CSS authoring tool to allow for client-side
      updated to CSS styling of a page. The script sends a request to the
      server, which determines the appropriate action - add/remove/change a CSS
      rule to the appropriate stylesheet, then reload stylesheets on the page
      to show the resulting change.
    </div>
  </div>

  <div class="item">
    <h3>TerrenceMorrow.com</h3><img src="./assets/images/recursion.png">

    <div class="link">
      Link:<a href="https://terrencemorrow.com/" target=
      "_blank">https://terrencemorrow.com</a>
    </div>

    <div class="github">
      Github:<a href="https://github.com/morrow/terrencemorrow.com" target=
      "_blank">terrencemorrow</a>
    </div>

    <div class="languages">
      Languages: Ruby, CoffeeScript, JavaScript, HTML, CSS
    </div>

    <div class="role">
      Role: Creator / Developer / Designer
    </div>

    <div class="description">
      Description: My personal website and portfolio, for which I was the sole
      developer and designer.
    </div>
  </div>
</div>