@font-face {
    font-family: 'pt sans';
    src: url('PTS55F-webfont.svg#pt_sansregular') format('svg'),
    	 url('PTS55F-webfont.eot'),
    	 url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

